<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
	<meta charset="UTF-8">
	<title>lec210 confirm</title>
</head>
<body>
	<h1 th:text="${title}"></h1>
		<dl>
			<dt>名前</dt>
			<dd>
				<p th:text="${contactInfo.name}"></p>
			</dd>
		</dl>
	<th:block th:object="${contactInfo}">
		<dl>
			<dt>メール</dt>
			<dd>
				<p th:text="*{email}"></p>
			</dd>
		</dl>
		<dl>
			<dt>タイトル</dt>
			<dd>
				<p th:text="*{title}"></p>
			</dd>
		</dl>
		<dl>
			<dt>内容</dt>
			<dd>
				<p th:text="*{contents}"></p>
			</dd>
		</dl>
	</th:block>
	<form th:object="${contactInfo}" th:action="@{/lec2/jpa/result}" th:method="get">
		<input type="hidden" th:field="*{name}">
		<input type="hidden" th:field="*{email}">
		<input type="hidden" th:field="*{title}">
		<input type="hidden" th:field="*{contents}">
		<p><button type="submit">確認</button></p>
		<!--<textarea cols="30" rows="5" th:field="*{contents}">aaa</textarea>-->
	</form>
</body>
</html>




<!--<th:block th:object="*{contact}">-->
<!--		<dl>-->
<!--			<dt>メール</dt>-->
<!--			<dd>-->
<!--				<p th:text="*{email}">[メール] [[*{email}]]</p>-->
<!--			</dd>-->
<!--		</dl>-->
<!--		<dl>-->
<!--			<dt>タイトル</dt>-->
<!--			<dd>-->
<!--				<p th:text="*{title}">[タイトル] [[*{title}]]</p>-->
<!--			</dd>-->
<!--		</dl>-->
<!--		<dl>-->
<!--			<dt>内容</dt>-->
<!--			<dd>-->
<!--				<p th:text="*{contents}">[内容] [[*{contents}]]</p>-->
<!--			</dd>-->
<!--		</dl>-->
<!--	</th:block>-->